<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{ block "meta" . }}{{ end }}

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown-light.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/yaml.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <style>
        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator {
            display: block;
        }

        .htmx-request.htmx-indicator {
            display: block;
        }
    </style>
</head>

<body class="text-black bg-gray-50">
    <nav class="top-0 sticky flex flex-col z-10 bg-gray-50 py-4 px-0 md:px-7 border-b max-w-5xl m-auto border-s border-e">
        <div class="p-0 w-full bg-gray-50 max-w-full m-auto z-10">
            <ul class="flex max-w-full m-auto justify-between px-3 md:px-4">
                <li>
                    <a class="text-base flex flex-row items-center justify-center gap-x-1 font-bold" href="/">
                        <span>Kuberdenis</span>
                    </a>
                </li>

                <div class="flex flex-row gap-x-4">
                    <li><a href="/" class="hover:text-stone-700">Home</a></li>
                    <li><a href="/blog" class="hover:text-stone-700">Blog</a></li>
                    <!-- <li><a href="/info" class="hover:text-stone-700">Info</a></li> -->
                </div>
            </ul>
        </div>
    </nav>
    <main class="container max-w-5xl mx-auto text-black border-s border-e">
        <div class="max-w-full ms-auto bg-stone-50">
            {{ template "content" . }}
        </div>
    </main>
</body>

</html>