apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://kubernetes-sigs.github.io/external-dns/
      targetRevision: 1.15.0
      chart: external-dns
      helm:
        releaseName: external-dns
        valueFiles:
          - $values/kubernetes/argocd/platform/external-dns/values-override.yaml
    - repoURL: https://github.com/kubeden/kubeden.git
      targetRevision: main
      ref: values
    - repoURL: https://github.com/kubeden/kubeden.git
      targetRevision: main
      path: kubernetes/argocd/platform/external-dns/configs
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
