apiVersion: apps/v1
kind: Deployment
metadata:
  name: txtwrite
  labels:
    app: txtwrite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: txtwrite
  template:
    metadata:
      labels:
        app: txtwrite
    spec:
      containers:
      - name: txtwrite
        image: registry.digitalocean.com/kubeden/txtwrite:latest
        command: ["deno", "task", "dev", "--", "--host", "0.0.0.0", "--port", "4173", "--strictPort"]
        ports:
        - containerPort: 4173