apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: watcher-data
  namespace: clopus-watcher
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: do-block-storage
