{{ define "content" }}
<div class="container mx-auto px-12 py-8 max-w-7xl">
    <div class="flex gap-x-4 items-center">
        <h1 class="text-base md:text-3xl font-mono text-center text-gray-800">GET</h1>
        <h2 class="text-base md:text-2xl font-mono text-center text-blue-600 hover:text-blue-800 transition-colors duration-300">
            <a href="https://api.kubeden.io/info" target="_blank" rel="noopener noreferrer">
                api.kubeden.io/info
            </a>
        </h2>
        
        <div class="text-center hidden md:block">
            <span class="bg-green-500 text-white text-sm font-semibold px-3 py-1 rounded-md">Public API</span>
        </div>
    </div>
    <div class="mt-2 mb-6 text-start text-gray-600">
        <p>This API is public and can be freely accessed. No authentication required.</p>
    </div>
    
    <div id="info" 
         hx-get="/api/info" 
         hx-trigger="load"
         hx-indicator="#loading"
         class="bg-gray-900 p-6 rounded-lg shadow-md overflow-x-auto">
        <div id="loading" class="htmx-indicator flex justify-center items-center h-16">
            <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-500"></div>
        </div>
    </div>
</div>

<style>
    .yaml-content {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        line-height: 1.5;
        color: #e6e6e6;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }
    .yaml-content code {
        display: block;
        white-space: pre-wrap;
    }
</style>

<script>
    document.body.addEventListener('htmx:afterSwap', function(event) {
        if (event.detail.target.id === 'info') {
            const infoElement = event.detail.target;
            infoElement.style.opacity = '0';
            infoElement.style.transform = 'translateY(20px)';
            setTimeout(() => {
                infoElement.style.transition = 'opacity 0.5s ease, transform 0.5s ease';
                infoElement.style.opacity = '1';
                infoElement.style.transform = 'translateY(0)';
            }, 100);
        }
    });
</script>
{{ end }}