apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sre-data
  namespace: a2w-sre
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: do-block-storage
