apiVersion: v1
kind: ServiceAccount
metadata:
  name: a2w-sre
  namespace: a2w-sre
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role                          
metadata:
  name: a2w-sre
  namespace: txtwrite               
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/status"]
    verbs: ["get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create", "get"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding                   
metadata:
  name: a2w-sre
  namespace: txtwrite               
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role                        
  name: a2w-sre
subjects:
  - kind: ServiceAccount
    name: a2w-sre
    namespace: a2w-sre              